*{
  margin: 0;
  padding: 0;
}

/*--------------- Imagem Logo Senac -------------*/ 
#logo{
  width: 30rem;
  margin-left: 26rem;
}
/*===============================================*/



/*-------------------- TUDO----------------------*/
#tudo{
  border: solid black;
  border-width: 0.5rem;
  height: 38rem;
}
/* ============================================= */


/*----------------- Tela da urna-----------------*/
#tela{
  border: solid black;
  margin-top: 4.6rem;
  margin-left: 2rem;
  width: 55%;
  height: 26.7rem;
  float: left;
}
/* ============================================= */

/* JUSTIÇA ELEITORAL*/

#je{
  float: right;
  margin-top: 2rem;
  margin-right: 2.5rem;
  text-align: center;
  border: solid;
}

#brasa{
  float: left;
  height: 5rem;
  margin-right: 9.85rem;
}

#texto_justo{
  float: right;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 1rem;
}

/* ---------- Todos os Botões da Urna ---------- */ 

.todosurna {
  float: right;
  border: solid black;
  width: 25.5rem;
}

/* ============================================= */


/* -------------- Div's dos Botões ------------- */
.buttonc {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #403c3c;
  padding-left: 1.5rem;
  margin-right: 2.5rem;
}

.container {
  display: flex;
  align-items: center;
}
/*===============================================*/




/* --------------- Botões da Urna --------------- */

.button {
  margin-right: 1rem;
  margin-top: 1rem;
  background-color: rgb(43, 39, 39);
  height: 3.5rem;
  line-height: 3.5rem;
  padding: 0rem 2.5rem 0rem;
  font-weight: bold;
  border: solid 5px rgb(255, 255, 255);
  border-width: 0 5px 5px 0;
  border-radius: 5px;
  border-color: transparent rgb(0, 0, 0) rgb(0, 0, 0) transparent;
  background-clip: padding-box;
  color: rgb(255, 255, 255);
  font-family: Trebuchet MS, sans-serif;
}
  
.button:hover{
  border-width:0 2px 3px 0; 
  margin-right:4px;
  position:relative;
  left:2px;
  top:3px; 
}

.numeros{
  margin-left: 2rem;
}

#zero{
  margin-left: 6.9rem;
}
/* ==================================================== */




/* -------------- Botões Corrige e Confirma ----------- */
.corcon{
  margin-top: -1rem;
}

.bcc{
  color: black;
  height: 3rem;
}

#branco {
  background-color: rgb(255, 255, 255);
  border-color: rgb(145, 143, 143);
  width: 3rem;
  padding: 0rem 3rem 0rem 1rem;
}

#corrige {
  background-color: red;
  border-color: rgb(186, 7, 7);
  width: 3rem;
  padding-right: 3rem;
  padding-left: 1rem;
}

#confirma {
  background-color: rgb(37, 201, 37);
  border-color: green;
  height: 4.3rem;
  margin-bottom: 1rem;
  width: 3rem;
  padding-left: 1rem;
}

/* ====================================================== */