*{
  margin: 0;
  padding: 0;
}

/*--------------- Imagem Logo Senac -------------*/ 
#logo{
  width: 30rem;
  margin-left: 26rem;
}
/*===============================================*/



/*-------------------- TUDO----------------------*/
#tudo{
  border: solid black;
  border-width: 0.5rem;
  height: 40rem;
}
/* ============================================= */


/*----------------- Tela da urna-----------------*/
#tela{
  border: solid black;
  margin-top: 2rem;
  margin-left: 2rem;
  width: 63%;
  height: 30rem;
  float: left;
}
/* ============================================= */



/* ---------- Todos os Botões da Urna ---------- */ 

.todosurna{
  width: 30%;
  float: right;
  border: solid black;
}

/* ============================================= */


/* -------------- Div's dos Botões ------------- */
.buttonc {
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  align-items: center;
}
/*===============================================*/




/* --------------- Botões da Urna --------------- */

.button{
  margin-right:2px;
  background-color:rgb(43, 39, 39);
  height:40px; line-height:40px;
  padding:0 20px;
  font-weight:bold;  
  border: solid 5px rgb(255, 255, 255); 
  border-width:0 4px 5px 0;
  border-radius:5px;
  border-color:transparent rgb(0, 0, 0) rgb(0, 0, 0) transparent;
  background-clip:padding-box;
  color: rgb(255, 255, 255);
  font-family: Trebuchet MS, sans-serif;
}
  
.button:hover{
  border-width:0 2px 3px 0; 
  margin-right:4px;
  position:relative;
  left:2px;
  top:3px; 
}
/* ==================================================== */




/* -------------- Botões Corrige e Confirma ----------- */

.bcc{
  color: black;
}

#branco{
  background-color: rgb(255, 255, 255);
  border-color: rgb(145, 143, 143);
}

#corrige{
  background-color: red;
  border-color: rgb(186, 7, 7);
}

#confirma{
  background-color: rgb(37, 201, 37);
  border-color: green;
}


/* ====================================================== */