
body{
    background-color: green;
    margin: 5%;
  margin-left: 20%;
}
.card{
    background-color: yellow;
}
.card-img-top{
    margin-left: 35px;
    
 }
 element.style {
    width: 50rem;
    height: 50rem;
    align-items: center;
}