@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*{
    margin:0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif ;
    background: linear-gradient(-45deg, #ffce51, #228b22, #7cfc00 );
}

.title{
    font-size: 1.2em;
    margin-bottom: 10%;
}

table, tr, td{
    width: 40%;
  margin-left: 30%;
  margin-top: 10%;
  padding: 3%;
  
}
table tr{
    background: linear-gradient(-45deg, #fff, #a9a9a9);
    
}
table{
    border-radius: 20px;
    background:linear-gradient(-45deg, #ffce51, #008000);
}

.cabeca{
    width: 100%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 10%;
    border: none;
    font-size: 1.2em;
    color: #fff;
    outline: none;
    border-radius: 20px;
    cursor:pointer;
    background: linear-gradient(-45deg, #ffce51, #228b22,#228b22 );
    
}
.cabeca2{
    text-decoration: none;
    border-radius: none;
    background-color: transparent;
}

*:focus {
    outline: none;
}