.tela{
    background-color: aquamarine;
    margin-left: 350px;
    margin-right: 350px;
    padding-bottom: 90px;
}

#nada{
    background-color: blue;
    margin-left: 200px;
}

#botoes{
    background-color: blueviolet;
}

#informacoes{
    background-color: cadetblue;
}