*{
    margin: 0;
    padding: 0;
  }
  
  /*===============================================*/
  /* -------------- Div's dos Botões ------------- */
  .buttonc {
    display: flex;
    flex-direction: column;
  }
  .container {
    display: flex;
    align-items: center;
  }
  /*===============================================*/ 

#logo{
  width: 300px;
  padding-top: 33px;
}

  #tela{
    background-color: rgb(61, 138, 70);
    margin-left: 86px;
    margin-right: 300px;
    padding-bottom: 7px;
    padding-top: 9px;
    margin-top: 30px;
    border: solid;
  }

  @font-face {
    font-family: 'vcr_osd_monoregular';
    src: url('fonts/vcr_osd_mono_1.001-webfont.woff2') format('woff2'),
         url('fonts/vcr_osd_mono_1.001-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

  }

  .telaletra{
    font-weight: bold;
    font-family: 'vcr_osd_monoregular';
  }

  .button{
    margin-right:2px;
    background-color:rgb(43, 39, 39);
    height:40px; line-height:40px;
    padding:0 20px;
    font-weight:bold;  
    border: solid 5px rgb(255, 255, 255); 
    border-width:0 4px 5px 0;
    border-radius:5px;
    border-color:transparent rgb(0, 0, 0) rgb(0, 0, 0) transparent;
    background-clip:padding-box;
    color: rgb(255, 255, 255);
    font-family: Trebuchet MS, sans-serif;
  }

    
  .button:hover{
    border-width:0 2px 3px 0; 
    margin-right:4px;
    position:relative;
    left:2px;
    top:3px; 
  }
  
    
  #corrige{
    background-color: red;
    border-color: rgb(186, 7, 7);
  }
  
  #confirma{
    background-color: rgb(37, 201, 37);
    border-color: green;
  }
  
  #um{
    margin-left: 507px;
    margin-bottom: 5px;
    margin-top: 18px;
  }

  #dois{
    margin-left: 507px;
    margin-bottom: 5px;
  }

  #quatro{
    margin-left: 507px;
    margin-bottom: 15px;

  }

  #cinco{
    margin-left: 460px;
    margin-bottom: 5px;
}

#seguranca{
    font-family: Trebuchet MS, sans-serif;
    margin-left: 200px;
    border: solid;
}
.texto{
  float: left;
  padding-right: 15px;
}
.sinal{
  width: 20px;
  height: 20px;
  display: block;
  float: left;
  border: 2px solid #333;
  border-radius: 15px;
}
.seguranca-on{
  background-color: red;
}
.seguranca-off{
  background-color: rgb(84, 13, 13);
}
#segurancaletra{
  background-color: red;
}

#bateriainterna{
    margin-top: 30px;
    font-family: Trebuchet MS, sans-serif;
    margin-left: 200px;
    border: solid;
    padding-right: 0px;
}
.bateriainterna-on{
  background-color: red;
  margin-top: 10px;
}
.bateriainterna-off{
  background-color: rgb(84, 13, 13);
  margin-top: 10px;
}

.sinal .bateriainterna{
  padding-top: 10px;
}


.textobateriainterna{
  float: left;
  padding-right: 45px; 
}

#aguarde{
    font-family: Trebuchet MS, sans-serif;
    margin-left: 200px;
    padding-right: 0px;
    border: solid;
}
.aguarde-on{
  background-color: yellow;
}
.aguarde-off{
  background-color: rgb(72, 72, 9);
}
.textoaguarde{
  float: left;
  padding-right: 39px; 
}

#liberado{
    font-family: Trebuchet MS, sans-serif;
    margin-left: 143px;
    border: solid;
    padding-right: 0px;
}
.liberado-on{
  background-color: green;
}
.liberado-off{
  background-color: rgb(14, 82, 14);
}
.textoliberado{
  float: left;
  padding-right: 39px; 
}

#tudo{
  border: solid;
  padding-bottom: 20px;
  margin-left: 90px;
  margin-right: 90px;
  margin-top: 30px;
}


